* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
}

body {
  background-color: #fef4e8;
}
/* button hover  */

#loginLogout{
  color: white;
  background-color: #b00005;
  transition: opacity 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  opacity: 0.7;
}

#animateButton {
  color: white;
  background-color: #b00005;
  transition: opacity 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  opacity: 0.7;
}
#animateButton:hover {
  color: white;
  opacity: 1;
  box-shadow: 2px 1px 14px 2px #b00005;
} /* Scroll animation */
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate {
  animation: appear 1s linear forwards; /* Ensures the animation state persists */
}

/* nav */
.navbar {
  padding: 0;
  width: 98%;
  margin-left: 1%;
}
.contactUs {
  font-size: 1.4vw;
}
.btn {
  background-color: #b00005;
  color: white;
  font-size: 1.4vw;
}
.container-fluid {
  margin-left: 5%;
  width: 100%;
  margin-right: 5%;
  padding: 0;
  background-color: #fef4e8;
}
.contactUs {
  color: black;
}
.contactUs:hover {
  color: #b00005 !important;
}
/* login button */
.btn {
  margin-right: 3%;
  margin-top: auto;
  margin-bottom: auto;
}
.logoImage {
  width: 23%;
}
/* body */
.pageContainer {
  margin-left: 5%;
  width: 90%;
}

.seprator {
  background-color: #b00005;
  height: 0.5vh;
}
/* about section */
.aboutTitle {
  font-size: 1.3vw;
}
.welcomeMsg {
  font-size: 2vw;
  font-weight: bold;
  margin: 4% 0 2% 0;
}
.descriptionAbout {
  width: 100%;
  height: 30vh;
  background-color: #b00005;
  color: white;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 44vh;
  border-bottom-left-radius: 44vh;
}
.descriptionText {
  margin-left: 5%;
  width: 80%;
  font-size: 1.6vw;
}
/* Youtube Container*/
.youtubeContainer {
  margin-top: 15%;
  width: 100%;
  height: 110vh;
}
.youtubeVideo {
  width: 100%;
  height: 90vh;
}
.videoTitle {
  margin-top: 2%;
  width: 100%;
  font-size: 2.2vw;
  font-weight: bold;
}
.videoDesc {
  width: 100%;
  margin-bottom: 1% !important;
  font-size: 1.4vw;
}
/* quiz Container */
.quizCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  margin-top: 15%;
  margin-bottom: 5%;
}
.quizCard {
  background-color: #f6e8d6;
  display: flex;
  flex-direction: column;
  border: 1px solid #b00005;
  border-radius: 2vh;
  gap: 10px;
}
.numberOfQuestions {
  text-align: start;
}
.quizImage {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.descOfQuiz,
.numberOfQuestions,
.quizDuration {
  margin-left: 5%;
  width: 90%;
  font-size: 1.4vw;
}
.startQuiz {
  width: 40%;
  height: 7vh;
  color: white;
  background-color: #b00005;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 1vh;
}

/* footer */
.sepratorFooter {
  background-color: #b00005;
  height: 0.5vh;
}
/* footer */
.footerContainer {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 20vh;
}
.footerLogo {
  height: 50%;
}
.footerLogoEmail {
  height: 50%;
}

.footerLogoLinkedIn {
  height: 50%;
}

.footerLogoGithub {
  height: 50%;
}
.rightImageContainer {
  display: flex;
  justify-content: end;
  margin-left: auto;
  width: 100%;
}

/* responsive */

@media (max-width: 900px) {
  .contactUs {
    font-size: 1.8vw;
  }
  .btn {
    font-size: 1.8vw;
  }
  .welcomeMsg {
    font-size: 3vw;
  }
  .aboutTitle {
    font-size: 2.3vw;
  }
  .descriptionAbout {
    height: 35vh !important;
  }
  .youtubeContainer {
    margin-top: 15%;
    width: 100%;
    height: 100vh;
  }

  .youtubeVideo {
    height: 80vh;
  }
  .videoTitle {
    font-size: 3vw;
  }
  .videoDesc {
    width: 100%;
    margin-bottom: 1% !important;
    font-size: 1.8vw;
  }
  .quizCardContainer {
    gap: 0;
  }
  .quizImage {
    width: 50%;
  }
  .descOfQuiz,
  .numberOfQuestions,
  .quizDuration {
    font-size: 1.7vw;
  }
  .quizCard {
    background-color: #f6e8d6;
    display: flex;
    flex-direction: column;
    border: 1px solid #b00005;
    border-radius: 2vh;
    gap: 10px;
    width: 95%;
    margin-left: 2.5%;
  }
  .startQuiz {
    margin: auto auto 10% auto;
  }
}
/* nav fix */

@media (max-width: 800px) {
  .container-fluid {
    margin-left: 3%;
    padding: 0;
    background-color: #fef4e8;
    width: 92%;
  }
}
@media (max-width: 763px) {
  .container-fluid {
    margin-left: 1% !important;
    padding: 0;
    background-color: #fef4e8;
    width: 95% !important;
  }
  .contactUs {
    width: 110%;
  }
}
@media (max-width: 700px) {
  .contactUs {
    margin-left: 2%;
  }
  .navbar-brand {
    /* margin-left: 2%; */
    width: 50%;
  }
  .navbar-toggler {
    width: 40%;
  }
  .logoImage {
    width: 30%;
  }
  .welcomeMsg {
    font-size: 3.5vw;
  }
  .aboutTitle {
    font-size: 2.8vw;
  }
  .descriptionAbout {
    border-top-right-radius: 23vh;
    border-bottom-left-radius: 29vh;
  }
  .descriptionText {
    margin-left: 5%;
    width: 80%;
    font-size: 2vw;
  }
  .youtubeVideo {
    height: 60vh;
  }
  .youtubeContainer {
    height: 80vh;
  }
  .quizCardContainer {
    grid-template-columns: 1fr 1fr;
  }
  .quizCard {
    margin-top: 5%;
  }
  .descOfQuiz,
  .numberOfQuestions,
  .quizDuration {
    font-size: 2vw;
  }
  .startQuiz {
    margin: auto auto 10% auto;
    font-size: 2.5vw;
  }
  .footerLogoGithub {
    height: 40%;
  }
  .footerLogoLinkedIn {
    height: 40%;
  }
  .footerLogoEmail {
    height: 41%;
  }
  .footerLogo {
    height: 40%;
  }
}
@media (max-width: 490px) {
  .logoImage {
    width: 40%;
  }
  .welcomeMsg {
    font-size: 4.5vw;
  }
  .aboutTitle {
    font-size: 3.4vw;
  }
  .descriptionAbout {
    border-radius: 2vh;
  }
  .descriptionText {
    margin-left: 5%;
    width: 80%;
    font-size: 2.7vw;
    margin-bottom: 1%;
  }
  .youtubeVideo {
    height: 40vh;
  }
  .youtubeContainer {
    height: 60vh;
  }
  .videoTitle {
    font-size: 4vw;
  }
  .videoDesc {
    width: 100%;
    margin-bottom: 1% !important;
    font-size: 2.8vw;
  }
  .quizCardContainer {
    grid-template-columns: 1fr;
  }
  .quizImage {
    width: 35%;
  }
  .descOfQuiz,
  .numberOfQuestions,
  .quizDuration {
    font-size: 4.5vw;
  }
  .startQuiz {
    font-size: 4.5vw;
  }
}
